<header class="navbar" role="navigation" aria-label="main navigation">
  <h1 class="navbar-brand">
      <a href="<%- url_for() %>" class="navbar-item" >
        <%= config.title %>
      </a>
  </h1>
</header>
