color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-linkedin = #0077B5
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"

$article-share-link
  width: 30px
  height: 30px
  display: block
  float: right
  position: relative
  color: #999
  text-shadow: 0 1px #fff
  margin: 0 0 0 10px
  &:before
    font-size: 27px
    font-family: font-icon
    font-weight: normal
    absolute-center(@font-size)
    text-align: center
  &:hover
    color: #fff
  
.article-share-twitter
  @extend $article-share-link
  &:before
    content: "\f099"
  &:hover
    color: color-twitter
    text-shadow: 0 1px darken(color-twitter, 20%)

.article-share-facebook
  @extend $article-share-link
  &:before
    content: "\f09a"
  &:hover
    color: color-facebook
    text-shadow: 0 1px darken(color-facebook, 20%)

.article-share-pinterest
  @extend $article-share-link
  &:before
    content: "\f0d2"
  &:hover
    color: color-pinterest
    text-shadow: 0 1px darken(color-pinterest, 20%)

.article-share-linkedin
  @extend $article-share-link
  &:before
    content: "\f0e1"
  &:hover
    color: color-linkedin
    text-shadow: 0 1px darken(color-linkedin, 20%)
