.navbar
  background: color-primary;
  display: flex;
  align-items: center;
  
  .navbar-item
    color: color-white;
    &:hover
      color: color-white;
      background: darken(color-primary, 15%);

  .navbar-brand
    margin: 0;
    padding: 0;